*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
a{
    text-decoration: none;
    color: #Fff;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
height: 100vh;
overflow: hidden;
    background-image: url('./Caixa\ com\ fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        background-color: rgba(200, 216, 204, 0.566)

}
header{
    background-image: url('https://ozenvitta.com/wp-content/uploads/2024/04/logo-ozenpharma.svg');
    background-size: 90%;
    padding: 0 2rem;
    background-position: center;
    background-repeat: no-repeat;
  height:10%;
        width: 100%;
   
}

div{
    
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10px;
    height: 50%;
    padding: 2rem;
    text-align: center;
    font-size: 3vw;
    
  
   flex-direction: column;
   
}
h1{
    font-size: 15px;
    background-color: #fff;
    padding: 15vw;
    border-radius: 5px;

}

 button{

    width: 200px;
    border: white;
 }
 footer{
    height: 15%;
    width: 100%;
    background-color: #000;
  display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: fixed;
    bottom: 0;
 }

 footer img{
    width: 100%;
    height: 100%;
 }

 footer a{
    width: 100%;
    height: 100%;
 }